@media screen and (max-width: 1035px) {
    .menu {
        display: none;
    }

    .navbar {
        position: relative;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 50px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    section h2{
        z-index: +1;
    }

}